html {
  font-size: 112.5%;
}

:root {
  --subtext: #363636;
  --text: #000000;
  --text-h: #000000;
  --bg: #f0f0f0;
  --border: #e0e0e0;
  --accent: #fe0000;
  --shadow:
    rgba(0, 0, 0, 0.034) 0 10px 15px -3px, rgba(0, 0, 0, 0.034) 0 4px 6px -2px;

  --body: "Inria Serif";
  --heading: "Instrument Serif";

  font: 1rem/145% var(--body);
  letter-spacing: 0.01em;

  color: var(--text);
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: 1024px) {
    font-size: 0.889rem;
  }
}

#root {
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

body {
  margin: 0;
}

h1,
h2 {
  font-family: var(--heading);
  font-weight: 500;
  color: var(--text-h);
}

h1 {
  font-size: 3.111rem;
  letter-spacing: -0.03em;
  margin: 32px 0;
  @media (max-width: 1024px) {
    font-size: 2rem;
    margin: 20px 0;
  }
}
h2 {
  font-size: 1.333rem;
  line-height: 118%;
  letter-spacing: -0.01em;
  margin: 0 0 8px;
  @media (max-width: 1024px) {
    font-size: 1.111rem;
  }
}
p {
  margin: 0;
  font-size: 0.889rem;
}

code,
.counter {
  font-family: var(--mono);
  display: inline-flex;
  border-radius: 4px;
  color: var(--text-h);
}

code {
  font-size: 0.833rem;
  line-height: 135%;
  padding: 4px 8px;
  background: var(--code-bg);
}
